body {
  background-color: black;
  color: azure;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 20px;
}

/* .banner {
  img src:"C:\zDTSS\Git Repo - Task 1\task-1-table-booking\images\table-set.jpg";
} */

.heroImage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("imagesCss/table-set.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 6.25%;
}

.heroText {
  text-align: center;
  /* position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  color: white;
}


a:hover {
  background: goldenrod;
}

li {
  display: inline-block;
}

a {
  display: block;
  padding: 30px;
  background-color:#2f302f;
  color: white;
  border: goldenrod;
}

.logo {
  margin-left: 15px;
  margin-top: 15px;
  color: goldenrod;
}

h1 {
  color: goldenrod;
}

.tbsHeader{
  margin-left: 20px;
}

.welcomeHeading {
  margin-left: 20px;
}


.articles {
  text-align: justify;
  margin-left: 20px;
  margin-right: 525px;
  border-style:solid;
  border-color:black
  
}


.book {
  float: right;
  border: 2px solid goldenrod;
  border-width: 0 1px goldenrod;
  
  }

 
 .topnav {
   display: none;
 }


 footer{
  background: black;
  margin-top:40px;
  padding:40px;
}
footer > div > p{
  color: white;
  text-align: center;
  font-size: 0.8rem;

}