body {
  background-color: black;
  color: whitesmoke;
  font-family: "Montserrat", sans-serif;
}

/* relative image for mobile site pertaining to Book Now image */
img {
  width: auto;
  max-width: 75%;
  height: auto;
  max-height: 75%;
}

/* styling to hide the desktop version of the logo */

.logo {
  display: none;
}

/* styling to hide the banner from the mobile site */

.heroImage {
  display: none;
}

.welcomeHeading {
  color: goldenrod;
}

/* styling to customise the top navigation bar dropdown*/

.topnav {
  overflow: hidden;
  background-color: black;
  position: relative;
}

/* styling to hide the links on startup and refresh automatically (script is used on button click to show links)*/

.topnav #myLinks {
  display: none;
}

.regMob {
  float: right;
}

.logMob {
  float: right;
 }

.regMob a :hover{
  background: transparent;
}

.book a :hover{
  background: goldenrod;
}


.mobileWelcome {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../imagesHtml/welcomeMob.jpg");
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  position: relative;
  padding-bottom: 6.25%;
  object-fit: cover;
  width: 100%;
  height: 180px;
 }

.mobileWelcomeText {
  text-align: center;
  
}

/* Styling to customise the top navigation bar a tags/text to white and in block */

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* styling to theme the burger menu background to rest of theme and position it correctly */

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* styling to customise top navigational bar to theme and sort colour when hovering. */

.topnav a:hover {
  background-color: black;
  color: goldenrod;
}



/* styling to hide the unorderd list which is only applicable desktop site. */

ul {
  display: none;
}

/* styling to customise the article tex so that its justified and appropriately positioned for UI on mobile screen */

.articles {
  text-align: justify;
  margin-left: 5px;
  margin-right: 5px;
}

/* footer customisation so that its themed correctly and in the right position */
footer {
  background: black;
  margin-top: 10px;
  padding: 10px;
}
footer > div > p {
  color: white;
  text-align: center;
  font-size: 0.8rem;
}
